@use 'variables';

.body-container {
	margin: variables.$margin-main;
	margin-top: 50px;
}

.info-section {
	height: 200px;
	margin-bottom: 40px;
}

.package-details {
	padding: 0;
}
.rounded-purple-btn {
	border: none;
	background-color: #604497;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px 10px 25px;
	font-weight: 800;
	letter-spacing: 1.5px;
	margin: auto;
}

.package-info-container {
	.left-arrow-icon {
		//background: url('./assets/left-arrow.png');
		width: 23px;
		height: 11px;
		//color: #000;
		//display: block;
	}

	.return-btn-container {
		p {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 1px;
		}
		img {
			margin-right: 10px;
			vertical-align: baseline;
		}
	}

	.subscription-title-container {
		h1 {
			font-size: 50px;
		}
	}

	.subscription-description-container {
		p {
			font-size: 18px;
		}
	}
}

.renew-subscription-container {
	background-color: #fff;
	width: 370px;
	padding: 30px;
	padding-left: 40px;

	h3 {
		font-size: 26px;
		font-weight: 600;
	}
}

.package-details-summary-container {
	background-color: #fff;
	height: auto; //JS will change this
	padding: 30px 40px 30px 40px;
	
	.vertical-line-container {
		width: 20px;
		.vertical-line {
			@include variables.horizontal-line(#d8d8d0, 1px, 191px);
			transform: translateY(100px) translateX(-85px) rotateZ(90deg);
		}
	}
	.detail-info {
		width: 33%;
		h2 {
			font-weight: 600;
			font-size: 38px;
		}

		.price-text {
			font-size: 20px;
		}

		button {
			font-size: 18px;
		}
	}

	.info-list {
		width: 33%;
		padding: 15px 15px 0 15px;
		li {
			margin-bottom: 7px;
		}
	}
}

.package-details-dropdown-container {
	background-color: #fff;
	padding-top: 40px;

	.topline {
		width: 424px;
	}

	.topline-text {
		font-size: 27px;
		font-weight: 400;
		text-align: center;
		padding: 0 15px 0 15px;
	}

}

.show-gallery-container {
	padding-top: 40px;
	margin-left: -20px;
	margin-right: -20px;
}

.show-card-container {
	//margin-left: -20px;
	//margin-right: -20px;
}
.show-card {
	width: 440px;
	padding: 20px;
	margin: auto;
	img {
		margin-bottom: 30px;
	}
	h4 {
		font-size: 26px;
		font-weight: 600;
	}

	.card-links {
		margin-top: 30px;
		p {
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 1.5px;

		}

		.right-arrow-icon {
			margin-bottom: 0;
			margin-right: 5px;
		}

		.bottom-links {
			img {
				display: inline-block;
				margin-bottom: 0;
			}

			hr {
				@include variables.horizontal-line(#c6c6c2, 1px, 32px);
				transform: rotateZ(90deg) translateX(-3px);
				display: inline-block;
				margin: 0;
			}

			p {
				font-size: 16px;
				font-weight: 600;
				color: #604497;
				display: inline-block;
			}
		}
	}
}
.package-details-dropdown-rail {
	height: 53px;
	background-color: #ecece4;
	width: 100%;
	padding: 15px 0 15px 40px;

	.rail-text-container {
		//margin-top: auto;
		//margin-bottom: auto;
		//margin-left: 40px;
	}
	p {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}