$font-main: Metropolis, Helvetica, sans-serif;
$margin-main: 0 10% 0 calc(10% + 157px);
$margin-mobile: 0 10% 0 10%;

$large-desktop: 1700px;
$desktop: 1500px;
$small-desktop: 1200px;
$tablet: 800px;

@mixin breakpoint($names...) {
	@each $name in $names {
		@if ($name == 'large-desktop') {
			@media (min-width: #{$large-desktop}) {
				@content;
			}
		} @else if ($name == 'desktop') {
			@media (min-width: #{$desktop}) and (max-width: #{$large-desktop}) {
				@content;
			}
		} @else if ($name == 'small-desktop') {
			@media (min-width: #{$small-desktop}) and (max-width: #{$desktop}) {
				@content;
			}
		} @else if ($name == 'tablet') {
			@media (min-width: #{$tablet}) and (max-width: #{$small-desktop}) {
				@content;
			}
		} @else if ($name == 'mobile') {
			@media (max-width: #{$tablet}) {
				@content;
			}
		}
	}
}

@mixin font($size: 16px, $weight: 400) {
	font-family: $font-main;
	font-size: $size;
	font-weight: $weight;
	color: #000;
}

@mixin bottom-borderline($color: #e1e1dd, $weight: 1px) {
	border-bottom: $weight solid $color;
}

@mixin horizontal-line($color: #e1e1ed, $height: 1px, $width: 100%) {
	height: $height;
	color: $color;
	width: $width;
}

@mixin vendor-prefixes($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin prefixed-keyframes($name) {
	@keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
}