$font-main: Metropolis, Helvetica, sans-serif;
$margin-main: 0 10% 0 calc(10% + 157px);
@mixin font($size: 16px, $weight: 400) {
	font-family: $font-main;
	font-size: $size;
	font-weight: $weight;
	color: #000;
}

@mixin bottom-borderline($color: #e1e1dd, $weight: 1px) {
	border-bottom: $weight solid $color;
}

@mixin horizontal-line($color: #e1e1ed, $height: 1px, $width: 100%) {
	height: $height;
	color: $color;
	width: $width;
}