@use 'variables';

//Animation and movement classes
.summary-open {
	@include variables.vendor-prefixes('transition', 'max-height 0.6s ease-in-out');
	max-height: 4500px !important;
}

.summary-close {
	@include variables.vendor-prefixes('transition', 'max-height 0.6s ease-in-out');
	max-height: 270px;
	@include variables.breakpoint('xl') {
		max-height: 440px;
	}
}

.info-section {
	height: auto;
	margin-bottom: 40px;
	margin-top: 50px;
}

.package-details {
	padding: 0;
	margin-bottom: 50px;
}
.rounded-purple-btn {
	border: none;
	background-color: #604497;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px 10px 25px;
	font-weight: 800;
	letter-spacing: 1.5px;
	margin: auto;
}

.package-info-container {

	.left-arrow-icon {
		width: 23px;
		height: 11px;
	}

	.return-btn-container {
		p {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 1px;
		}
		img {
			margin-right: 10px;
			vertical-align: baseline;
		}
	}

	.subscription-title-container {
		h1 {
			font-size: 50px;

			@include variables.breakpoint('xl') {
				font-size: 46px;
			}
			@include variables.breakpoint('lg') {
				font-size: 44px;
			}
			@include variables.breakpoint('md') {
				font-size: 42px;
			}
			@include variables.breakpoint('sm') {
				font-size: 40px;
			}
			@include variables.breakpoint('xs') {
				font-size: 36px;
			}
		}
	}

	.subscription-description-container {
		p {
			font-size: 18px;
		}
	}
}

.renew-subscription-container {

	background-color: #fff;
	padding: 30px;
	padding-left: 40px;
	height: auto;

	@include variables.breakpoint('md','mobile') {
		text-align: center
	}
	h3 {
		font-size: 26px;
		font-weight: 600;
	}
}

.package-details-summary-container {
	background-color: #fff;
	max-height: 270px;
	height: auto;
	overflow: hidden;

	@include variables.breakpoint('xs') {
		max-height: 295px;
	}

	.vertical-line-container {
		width: 20px;
		.vertical-line {
			@include variables.horizontal-line(#b8b8b0, 1px, 191px);
			transform: translateY(80px) translateX(-95px) rotateZ(90deg);

			@include variables.breakpoint('xl') {
				transform: translateY(80px) translateX(-80px) rotateZ(90deg);
			}
			@include variables.breakpoint('lg') {
				transform: translateY(80px) translateX(-75px) rotateZ(90deg);
			}
		}

		@include variables.breakpoint('md','mobile') {
			display: none;
		}
	}

	.info-container {
		width: 100%;
		margin: auto;

		@include variables.breakpoint('xl','md','lg','mobile') {
			margin: auto;
		}
		@include variables.breakpoint('md','mobile') {
			width: auto;
			text-align: center;
			padding: 10px;
		}
		
	}
	.detail-info {
		h2 {
			font-weight: 600;
			font-size: 38px;
		}

		.price-text {
			font-size: 20px;
		}

		button {
			font-size: 18px;
		}

		@include variables.breakpoint('xl') {
			h2 {
				font-size: 34px;
			}
		}
		@include variables.breakpoint('lg') {
			h2 {
				font-size: 28px;
			}
		}
	}

	.info-list {
		li {
			margin-bottom: 2px;
		}
	}
	.list-container {
		width: 100%;
		position: relative;
		left: 26px;
		bottom: 36px;	
		
		@include variables.breakpoint('md','mobile') {
			width: auto;
			margin: auto;
			position: static;
			margin-top: 50px;
		}
	}
	.dropdown-topline {
		visibility: hidden;
	}
	.topline {
		width: 100%;
	}

	.topline-text {
		font-size: 27px;
		font-weight: 400;
		text-align: center;
		padding: 0;

		@include variables.breakpoint('md','lg') {
			font-size: 20px;
		}
		@include variables.breakpoint('mobile') {
			font-size: 18px;
		}
	}
}

.show-gallery-container {
	padding-top: 40px;
	margin-left: -20px;
	margin-right: -20px;
}

.show-card {
	width: auto;
	margin: auto;


	.show-card-image {
		width: 100%;
	}
	@include variables.breakpoint('mobile') {
		width: auto;
	}

	img {
		margin-bottom: 30px;
	}
	h4 {
		font-size: 26px;
		font-weight: 600;
	}

	.card-links {
		margin-top: 30px;
		p {
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 1.5px;
		}

		.right-arrow-icon {
			margin-bottom: 0;
			margin-right: 5px;
		}

		.bottom-links {
			img {
				display: inline-block;
				margin-bottom: 0;
			}

			hr {
				@include variables.horizontal-line(#c6c6c2, 1px, 32px);
				transform: rotateZ(90deg) translateX(-3px);
				display: inline-block;
				margin: 0;
			}

			p {
				font-size: 16px;
				font-weight: 600;
				color: #604497;
				display: inline-block;
			}
		}
	}
}
.package-details-dropdown-rail {
	height: 53px;
	background-color: #ecece4;
	width: 100%;
	padding: 15px 0 15px 40px;

	p {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}