@use 'variables';

//Animation and movement classes
.summary-open {
	@include variables.vendor-prefixes('transition', 'max-height 0.6s ease-in-out');
	max-height: 4500px !important;
}

.summary-close {
	@include variables.vendor-prefixes('transition', 'max-height 0.6s ease-in-out');
	max-height: 270px;
	@include variables.breakpoint('small-desktop') {
		max-height: 440px;
	}
}


/*
.body-container {
	margin: variables.$margin-main;
	margin-top: 50px;

	@include variables.breakpoint('mobile') {
		margin: variables.$margin-mobile;
	}
}
*/

.info-section {
	height: auto;
	margin: variables.$margin-main;
	margin-bottom: 40px;
}

.package-details {
	padding: 0;
	margin: variables.$margin-main;
	margin-bottom: 50px;
}
.rounded-purple-btn {
	border: none;
	background-color: #604497;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px 10px 25px;
	font-weight: 800;
	letter-spacing: 1.5px;
	margin: auto;
}

.package-info-container {
	.package-info-wrapper {
		padding:20px;
		min-width: 400px;

		@include variables.breakpoint('mobile') {
			min-width: 0;
		}
	}
	.left-arrow-icon {
		width: 23px;
		height: 11px;
	}

	.return-btn-container {
		p {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 1px;
		}
		img {
			margin-right: 10px;
			vertical-align: baseline;
		}
	}

	.subscription-title-container {
		h1 {
			font-size: 50px;

			@include variables.breakpoint('small-desktop') {
				font-size: 40px;
			}
			@include variables.breakpoint('tablet','mobile') {
				font-size: 32px;
			}
		}
	}

	.subscription-description-container {
		p {
			font-size: 18px;
		}
	}
}

.renew-subscription-container {

	background-color: #fff;
	//width: 370px;
	//min-width: 370px;
	padding: 30px;
	padding-left: 40px;
	height: 200px;

	@include variables.breakpoint('tablet','mobile') {
		width: auto;
		text-align: center;
		min-width: 0;
		height: auto;
	}
	h3 {
		font-size: 26px;
		font-weight: 600;
	}
}

.package-details-summary-container {
	background-color: #fff;
	max-height: 270px;
	height: auto;
	padding: 30px 0px 30px 0px;
	overflow: hidden;

	@include variables.breakpoint('small-desktop') {
		max-height: 440px;
	}

	.vertical-line-container {
		width: 20px;
		.vertical-line {
			@include variables.horizontal-line(#b8b8b0, 1px, 191px);
			transform: translateY(80px) translateX(-95px) rotateZ(90deg);
		}

		@include variables.breakpoint('small-desktop','tablet','mobile') {
			display: none;
		}
	}

	.info-container {
		width: 350px;
		margin: auto;
		margin-left: 40px;
		@include variables.breakpoint('small-desktop','tablet','mobile') {
			margin: auto;
		}
		@include variables.breakpoint('mobile') {
			width: auto;
			text-align: center;
			padding: 10px;
		}
		
	}
	.detail-info {

		@include variables.breakpoint('small-desktop','tablet','mobile') {
			width: 100%;
		}
		h2 {
			font-weight: 600;
			font-size: 38px;
		}

		.price-text {
			font-size: 20px;
		}

		button {
			font-size: 18px;
		}
	}

	.info-list {
		li {
			margin-bottom: 2px;
		}
	}
	.list-container {
		width: 400px;
		position: relative;
		left: 26px;
		bottom: 36px;

		@include variables.breakpoint('desktop') {
			width: 300px;
		}
		@include variables.breakpoint('small-desktop') {
			width: 300px;
			margin: auto;
			position: static;
			margin-top: 30px;
		}
		@include variables.breakpoint('tablet','mobile') {
			width: 300px;
			margin: auto;
			position: static;
			margin-top: 50px;
		}
		@include variables.breakpoint('mobile') {
			padding-right: 10px;
			padding-left: 10px;
			width: auto;
		}
	}
}

.package-details-dropdown-container {
	background-color: #fff;
	padding: 40px 30px 0 30px;

	.dropdown-topline {
		visibility: hidden;
	}
	.topline {
		width: 424px;
		@include variables.breakpoint('tablet') {
			width: 200px;
		}
		@include variables.breakpoint('mobile') {
			width: 100px;
		}
	}

	.topline-text {
		font-size: 27px;
		font-weight: 400;
		text-align: center;
		padding: 0 15px 0 15px;

		@include variables.breakpoint('tablet') {
			font-size: 20px;
		}
		@include variables.breakpoint('mobile') {
			font-size: 18px;
		}
	}

}

.show-gallery-container {
	padding-top: 40px;
	margin-left: -20px;
	margin-right: -20px;
}

.show-card {
	width: 440px;
	padding: 20px;
	margin: auto;

	@include variables.breakpoint('mobile') {
		width: auto;
		.show-card-image {
			width: 100%;
			height: auto;
		}
	}

	img {
		margin-bottom: 30px;
	}
	h4 {
		font-size: 26px;
		font-weight: 600;
	}

	.card-links {
		margin-top: 30px;
		p {
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 1.5px;

		}

		.right-arrow-icon {
			margin-bottom: 0;
			margin-right: 5px;
		}

		.bottom-links {
			img {
				display: inline-block;
				margin-bottom: 0;
			}

			hr {
				@include variables.horizontal-line(#c6c6c2, 1px, 32px);
				transform: rotateZ(90deg) translateX(-3px);
				display: inline-block;
				margin: 0;
			}

			p {
				font-size: 16px;
				font-weight: 600;
				color: #604497;
				display: inline-block;
			}
		}
	}
}
.package-details-dropdown-rail {
	height: 53px;
	background-color: #ecece4;
	width: 100%;
	padding: 15px 0 15px 40px;

	p {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}