@use 'variables';

.footer {
	position: relative;
	bottom: 0;
	background-color: #000;
	height: auto;
	margin-top: 150px;
	z-index: -1;

	hr {
		width: 100%;
	}
	.top-section {
		padding-top: 50px;
	}
	.bottom-section {
		padding-bottom: 30px;
	}
	.background-image-container {
		float: right;

		@include variables.breakpoint('mobile','md','lg') {
			display: none;
		}
	}

	.info-columns {
		color: #ffffff;
		font-size: 14px;
		margin-top: 50px;
		.addresses {
			padding-right: 50px;
			margin-bottom: 30px;
		}

		.link-container {
			padding: 0 40px 40px 0;
			font-weight: 600;
			a:link {
				text-decoration: none;
				color: #ffffff;
			}
			a {
				width: 100%;
				display: block;
			}
		}
	}
	.bottom-text {
		color: #999999;
		font-size: 14px;
		margin-bottom: 0;
		margin-top: 20px;
	}
}