@use 'variables';
@use 'header';
@use 'body';
@use 'footer';

body {
	background-color: #f8f8f3;
}
.main-body {
	@include variables.font();
	padding: 0;
	margin-left: 157px;

	@include variables.breakpoint('mobile') {
		margin-left: 0;
	}
}

hr {
	@include variables.horizontal-line();
}

.container {
	@include variables.breakpoint('xxxl') {
		max-width: 1380px;
	}
	@include variables.breakpoint('xxl') {
		max-width: 1163px
	}
	@include variables.breakpoint('xl') {
		max-width: 983px
	}
	@include variables.breakpoint('lg') {
		max-width: 803px
	}
	@include variables.breakpoint('md') {
		max-width: 563px
	}
}