.nav-open {
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  left: 0 !important;
}

.nav-close {
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  left: -100px !important;
}

.header {
  height: 180px;
  padding: 0;
  background-image: linear-gradient(to right, #ef8d1d, #f6de50);
}
@media (max-width: 800px) {
  .header {
    height: 190px;
  }
}
.header .header-text {
  font-family: Metropolis, Helvetica, sans-serif;
  font-size: 85px;
  font-weight: 300;
  color: #000;
  margin: 0 10% 0 calc(10% + 157px);
  color: #fefefe;
  position: relative;
  top: 70px;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .header .header-text {
    font-size: 56px;
    top: 80px;
  }
}
@media (max-width: 800px) {
  .header .header-text {
    font-size: 40px;
    margin: 0 10% 0 10%;
    top: 90px;
  }
}

.breadcrumb {
  height: 62px;
  border-bottom: 1px solid #e1e1dd;
}
.breadcrumb .breadcrumb-text {
  font-family: Metropolis, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0 10% 0 calc(10% + 157px);
  color: #666666;
  margin-top: auto;
  margin-bottom: auto;
}
.breadcrumb .breadcrumb-text .breadcrumb-item {
  display: inline;
}
.breadcrumb .breadcrumb-text span {
  color: #000000;
  padding: 0 5px 0 5px;
}
.breadcrumb .breadcrumb-text .final {
  color: #000000;
}
@media (max-width: 800px) {
  .breadcrumb .breadcrumb-text {
    margin: 20px 10% 0 10%;
  }
}

.alert {
  position: absolute;
  top: 0;
  height: 50px;
  background-color: #000;
  border-radius: 0;
  text-align: center;
  padding-top: 10px;
}
.alert .alert-text {
  color: #f4da4c;
  margin: 0 10% 0 calc(10% + 157px);
}
@media (max-width: 800px) {
  .alert {
    font-size: 14px;
    height: auto;
  }
  .alert .alert-text {
    margin: 0 10% 0 10%;
  }
}

.navbar-mobile {
  display: none;
  position: relative;
  padding: 20px;
  background-color: #f8f8f3;
  border-radius: 0 0 5px 0;
  top: 0;
  left: 99px;
  width: 65px;
}
.navbar-mobile.open span {
  -webkit-transform: rotateZ(-135deg);
  -moz-transform: rotateZ(-135deg);
  -ms-transform: rotateZ(-135deg);
  -o-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}
.navbar-mobile span {
  display: block;
  height: 20px;
  width: 20px;
  border-top: 4px solid #404040;
  border-right: 4px solid #404040;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
@media (max-width: 800px) {
  .navbar-mobile {
    display: block;
  }
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 157px;
  height: 100%;
  background-color: #ffffff;
}
@media (max-width: 800px) {
  .navbar-container {
    width: 100px;
    left: -100px;
  }
}

.navbar {
  min-height: 900px;
  max-height: 1000px;
}
.navbar .logo {
  margin-top: 10px;
}
@media (max-width: 800px) {
  .navbar .logo img {
    width: 80px;
  }
}
.navbar .nav-item {
  padding: 30px;
}
@media (max-width: 800px) {
  .navbar .nav-item {
    padding: 10px;
  }
}
.navbar hr {
  height: 1px;
  color: #c1c1c1;
  width: 120px;
}
@media (max-width: 800px) {
  .navbar hr {
    height: 1px;
    color: #c1c1c1;
    width: 80px;
  }
}

.summary-open {
  -webkit-transition: max-height 0.6s ease-in-out;
  -moz-transition: max-height 0.6s ease-in-out;
  -ms-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
  max-height: 4500px !important;
}

.summary-close {
  -webkit-transition: max-height 0.6s ease-in-out;
  -moz-transition: max-height 0.6s ease-in-out;
  -ms-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
  max-height: 270px;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .summary-close {
    max-height: 440px;
  }
}

.body-container {
  margin: 0 10% 0 calc(10% + 157px);
  margin-top: 50px;
}
@media (max-width: 800px) {
  .body-container {
    margin: 0 10% 0 10%;
  }
}

.info-section {
  height: auto;
  margin-bottom: 40px;
}

.package-details {
  padding: 0;
  margin-bottom: 50px;
}

.rounded-purple-btn {
  border: none;
  background-color: #604497;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px 10px 25px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: auto;
}

.package-info-container .package-info-wrapper {
  padding: 20px;
  min-width: 400px;
}
@media (max-width: 800px) {
  .package-info-container .package-info-wrapper {
    min-width: 0;
  }
}
.package-info-container .left-arrow-icon {
  width: 23px;
  height: 11px;
}
.package-info-container .return-btn-container p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.package-info-container .return-btn-container img {
  margin-right: 10px;
  vertical-align: baseline;
}
.package-info-container .subscription-title-container h1 {
  font-size: 50px;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-info-container .subscription-title-container h1 {
    font-size: 40px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-info-container .subscription-title-container h1 {
    font-size: 32px;
  }
}
@media (max-width: 800px) {
  .package-info-container .subscription-title-container h1 {
    font-size: 32px;
  }
}
.package-info-container .subscription-description-container p {
  font-size: 18px;
}

.renew-subscription-container {
  background-color: #fff;
  width: 370px;
  min-width: 370px;
  padding: 30px;
  padding-left: 40px;
  height: 200px;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .renew-subscription-container {
    width: auto;
    text-align: center;
    min-width: 0;
    height: auto;
  }
}
@media (max-width: 800px) {
  .renew-subscription-container {
    width: auto;
    text-align: center;
    min-width: 0;
    height: auto;
  }
}
.renew-subscription-container h3 {
  font-size: 26px;
  font-weight: 600;
}

.package-details-summary-container {
  background-color: #fff;
  max-height: 270px;
  height: auto;
  padding: 30px 0px 30px 0px;
  overflow: hidden;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-details-summary-container {
    max-height: 440px;
  }
}
.package-details-summary-container .vertical-line-container {
  width: 20px;
}
.package-details-summary-container .vertical-line-container .vertical-line {
  height: 1px;
  color: #b8b8b0;
  width: 191px;
  transform: translateY(80px) translateX(-95px) rotateZ(90deg);
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-details-summary-container .vertical-line-container {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-summary-container .vertical-line-container {
    display: none;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .vertical-line-container {
    display: none;
  }
}
.package-details-summary-container .info-container {
  width: 350px;
  margin: auto;
  margin-left: 40px;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-details-summary-container .info-container {
    margin: auto;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-summary-container .info-container {
    margin: auto;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .info-container {
    margin: auto;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .info-container {
    width: auto;
    text-align: center;
    padding: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-details-summary-container .detail-info {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-summary-container .detail-info {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .detail-info {
    width: 100%;
  }
}
.package-details-summary-container .detail-info h2 {
  font-weight: 600;
  font-size: 38px;
}
.package-details-summary-container .detail-info .price-text {
  font-size: 20px;
}
.package-details-summary-container .detail-info button {
  font-size: 18px;
}
.package-details-summary-container .info-list li {
  margin-bottom: 2px;
}
.package-details-summary-container .list-container {
  width: 400px;
  position: relative;
  left: 26px;
  bottom: 36px;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .package-details-summary-container .list-container {
    width: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .package-details-summary-container .list-container {
    width: 300px;
    margin: auto;
    position: static;
    margin-top: 30px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-summary-container .list-container {
    width: 300px;
    margin: auto;
    position: static;
    margin-top: 50px;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .list-container {
    width: 300px;
    margin: auto;
    position: static;
    margin-top: 50px;
  }
}
@media (max-width: 800px) {
  .package-details-summary-container .list-container {
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
  }
}

.package-details-dropdown-container {
  background-color: #fff;
  padding: 40px 30px 0 30px;
}
.package-details-dropdown-container .dropdown-topline {
  visibility: hidden;
}
.package-details-dropdown-container .topline {
  width: 424px;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-dropdown-container .topline {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .package-details-dropdown-container .topline {
    width: 100px;
  }
}
.package-details-dropdown-container .topline-text {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  padding: 0 15px 0 15px;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .package-details-dropdown-container .topline-text {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .package-details-dropdown-container .topline-text {
    font-size: 18px;
  }
}

.show-gallery-container {
  padding-top: 40px;
  margin-left: -20px;
  margin-right: -20px;
}

.show-card {
  width: 440px;
  padding: 20px;
  margin: auto;
}
@media (max-width: 800px) {
  .show-card {
    width: auto;
  }
  .show-card .show-card-image {
    width: 100%;
    height: auto;
  }
}
.show-card img {
  margin-bottom: 30px;
}
.show-card h4 {
  font-size: 26px;
  font-weight: 600;
}
.show-card .card-links {
  margin-top: 30px;
}
.show-card .card-links p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.show-card .card-links .right-arrow-icon {
  margin-bottom: 0;
  margin-right: 5px;
}
.show-card .card-links .bottom-links img {
  display: inline-block;
  margin-bottom: 0;
}
.show-card .card-links .bottom-links hr {
  height: 1px;
  color: #c6c6c2;
  width: 32px;
  transform: rotateZ(90deg) translateX(-3px);
  display: inline-block;
  margin: 0;
}
.show-card .card-links .bottom-links p {
  font-size: 16px;
  font-weight: 600;
  color: #604497;
  display: inline-block;
}

.package-details-dropdown-rail {
  height: 53px;
  background-color: #ecece4;
  width: 100%;
  padding: 15px 0 15px 40px;
}
.package-details-dropdown-rail p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #000;
  height: auto;
  margin-top: 150px;
  z-index: -1;
}
.footer .top-section {
  margin: 0 10% 0 calc(10% + 157px);
  padding-top: 50px;
}
@media (max-width: 800px) {
  .footer .top-section {
    margin: 0 10% 0 10%;
  }
}
.footer .bottom-section {
  margin: 0 10% 0 calc(10% + 157px);
  padding-bottom: 30px;
}
@media (max-width: 800px) {
  .footer .bottom-section {
    margin: 0 10% 0 10%;
  }
}
.footer .background-image-container {
  float: right;
}
@media (max-width: 800px) {
  .footer .background-image-container {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .footer .background-image-container {
    display: none;
  }
}
.footer .background-image-container img {
  position: relative;
  right: -12px;
}
.footer .info-columns {
  color: #ffffff;
  font-size: 14px;
  margin-top: 50px;
}
.footer .info-columns .addresses {
  padding-right: 50px;
  margin-bottom: 30px;
}
.footer .info-columns .link-container {
  padding: 0 40px 40px 0;
  font-weight: 600;
}
.footer .info-columns .link-container a:link {
  text-decoration: none;
  color: #ffffff;
}
.footer .info-columns .link-container a {
  width: 100%;
  display: block;
}
.footer .bottom-text {
  color: #999999;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
}

body {
  background-color: #f8f8f3;
}

.main-body {
  font-family: Metropolis, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 0;
}

hr {
  height: 1px;
  color: #e1e1ed;
  width: 100%;
}